.change-background{
	background: red;
	padding: 18px 5px 17px 5px;
}



.content-border{
	border: 5px solid red;
	width: 960px;
	margin: 0 auto 0 auto; 
}

.mt-6{
	margin-top: 3.5rem;
}

hr{
	color: blue; 
}

.img-floatleft{
	float: left;
}